<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>

<body>
  <p>{{> footer}}</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas minus quisquam, nisi illo asperiores ea autem commodi
    et aspernatur sit assumenda at accusantium tempore molestias impedit laborum adipisci id repellat.
  </p>
  

  <footer>
    <p>Copyright about page</p>
  </footer>
</body>

</html>